<div class="user_info">
  <h1>User info</h1>
  <%= image_tag current_user.get_profile_image(150, 150) %>
  <table class="table">
      <td>name</td><td><%= current_user.name %></td></tr>
      <tr><td>introduction</td><td><%= current_user.introduction %></td></tr>
  </table>
  <%= link_to edit_user_path(current_user.id), class: "btn btn-secondary btn-block" do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>
</div>