<div><%= flash[:notice] %></div>
<h1 class="text-center">welcome to <i class="fa-solid fa-book"></i>
  <span class="font-weight-bold">Bookers!!</span>
</h1>
  <p class="text-center">In <i class="fa-solid fa-book"></i>
    <span class="font-weight-bold">Bookers,</span>
  </p>
  <div class="text-center">
    <p>you can share and exchange your opinions,inpressions,and emotions<br>
       about various books!
    </p>
  </div>
  <div class="d-grid gap-2 col-5 mx-auto">
    <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-block " %>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-block" %>
  </div>
    

